<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Workout Buddy{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

    {% block extra_head %}{% endblock %}
</head>
<body class="bg-black text-white font-inter">
    <main class="container mx-auto">
        {% include 'mainPage/navbar.html' %}
        {% block content %}{% endblock %}
    </main>

    {% block extra_scripts %}{% endblock %}
</body>
</html>
