<!-- Navbar -->
<header class="bg-white shadow-md fixed w-full top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">

     
      <div class="flex items-center space-x-2">
        {% comment %} <img src="https://img.icons8.com/ios-filled/50/0f5132/dumbbell.png" alt="Logo" class="h-6 w-6"> {% endcomment %}
        <span class="text-xl font-bold text-gray-700">Workout Buddy</span>
      </div>

     
      <nav class="hidden md:flex space-x-6">
        <a href="#home" class="text-gray-600  hover:text-gray-900 hover:underline font-medium">Home</a>
        <a href="#about" class="text-gray-600 hover:text-gray-900 hover:underline font-medium">About</a>
        <a href="#contact" class="text-gray-600 hover:text-gray-900 hover:underline font-medium">Contact Us</a>
        <a href="#services" class="text-gray-600 hover:text-gray-900 hover:underline font-medium">Services</a>
      </nav>

     
      <div class="hidden md:block">
        <a href="{% url 'login' %}" class="bg-gray-600 hover:bg-gray-900 text-white py-2 px-4 rounded-lg font-semibold transition duration-300">
          Login 
        </a>
      </div>

    </div>
  </div>
</header>


<div class="h-16"></div>
