{% extends 'index.html' %}
{% load static %}
{% block extra_head %}
<script src="https://cdn.tailwindcss.com"></script>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'workout/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'workout/css/viewWorkout.css' %}">
{% endblock %}

{% block content %}
<div class="bg-black text-gray-200">
  <div class=" bg-gray-900 container mx-auto px-4 py-12">
    <header class="text-center mb-12 fade-in">
      <div class="flex flex-col justify-center items-center">
        <h1 class="text-4xl md:text-5xl font-bold text-white">
          Your Weekly Workout Plan
        </h1>
        <p class="text-lg text-gray-400 mt-2">
          Here's your personalized fitness schedule for the week.
        </p>
        <div class="button mt-4 w-[280px]">
          <a href="{% url 'create_workout_plan' %}">Generate new Plan</a>
        </div>
      </div>
    </header>

    <div id="workout-plan-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
      <!-- Workout days will be dynamically inserted here -->
    </div>
  </div>
</div>

<!-- Injected JSON plan data -->
{{ plan_data.plan|json_script:"workout-data" }}
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'workout/js/view-workout.js' %}"></script>
{% endblock %}